@model MGQSBreakfast.Models.CreateBreakfastViewModel;
@{
    ViewData["Title"] = "Breakfast Details";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <div>
        <h4>Id = @Model.Id</h4>
        <h4>Description = @Model.Description</h4>
        <h4>StartDateTime = @Model.StartDateTime</h4>
        <h4>EndDateTime = @Model.EndDateTime</h4
    </div>

</div>